<!DOCTYPE html>
{% load static %} 
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Italian Cuisine</title>
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta content="" name="keywords">
      <meta content="" name="description">
      <!-- Favicons -->
      <link href="{% static 'img/favicon.ico' %}" rel="icon">
      <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600|Pacifico" rel="stylesheet"> 
      <!-- Bootstrap CSS File -->
      <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- Libraries CSS Files -->
      <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
      <link href="{% static 'vendor/animate/animate.min.css' %}" rel="stylesheet">
      <link href="{% static 'vendor/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
      <link href="{% static 'vendor/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />
      <!-- Main Stylesheet File -->
      <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <body>
      <!-- Top Header Start -->
      <section id="top-header">
          <div class="logo">
              <img src="{% static 'img/logo.png' %}" />
          </div>
      </section>
      <!-- Top Header End -->
      <!-- Header Start -->
      <header id="header">
          <div class="container">
              <nav id="nav-menu-container">
                  <ul class="nav-menu">
                      <li><a href="{% url 'index' %}">Home</a></li>
                      <li class="menu-active"><a href="{% url 'about' %}">About</a></li>
                      <li><a href="{% url 'menu' %}">Menu</a></li>
                      <li><a href="{% url 'order' %}">Online Order</a></li>
                      <li class="menu-has-children"><a href="#">pages</a>
                          <ul>
                              <li class="menu-has-children"><a href="#">Drop Down</a>
                                  <ul>
                                      <li><a href="#">Drop Down 1</a></li>
                                      <li><a href="#">Drop Down 2</a></li>
                                  </ul>
                              </li>
                          </ul>
                      </li>
                      <li><a href="{% url 'contact' %}">Contact</a></li>
                      <li><a href="{% url 'login' %}">Login</a></li>
                      <li><a href="{% url 'cart' %}" class="fa fa-shopping-cart" id="box"></a></li>
                  </ul>
              </nav>
          </div>
      </header>
      <!-- Header End -->
      <!-- Reservations Section Start -->
      <section id="reservations">
          <div class="container">
              <header class="section-header">
                  <h3>Reservations</h3>
              </header>
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-row">
                          <div class="control-group col-sm-3">
                              <div class="form-group">
                                  <div class="input-group date" id="date" data-target-input="nearest">
                                      <input type="text" class="form-control datetimepicker-input" placeholder="Date" data-target="#date"/>
                                      <div class="input-group-append" data-target="#date" data-toggle="datetimepicker">
                                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="control-group col-sm-3">
                              <div class="form-group">
                                  <div class="input-group date" id="time" data-target-input="nearest">
                                      <input type="text" class="form-control datetimepicker-input" placeholder="Time" data-target="#time"/>
                                      <div class="input-group-append" data-target="#time" data-toggle="datetimepicker">
                                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="control-group col-sm-3">
                              <select class="custom-select">
                                  <option selected>Party Size</option>
                                  <option value="1">1 Person</option>
                                  <option value="2">2 People</option>
                                  <option value="3">3 People</option>
                                  <option value="4">4 People</option>
                                  <option value="5">5 People</option>
                                  <option value="6">6 People</option>
                                  <option value="7">7 People</option>
                                  <option value="8">8 People</option>
                                  <option value="9">9 People</option>
                                  <option value="10">10 People</option>
                              </select>
                          </div>
                          <div class="control-group col-sm-3">
                              <button class="btn btn-block btn-book">Book Now</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- Reservations Section End -->

<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <img src="{{ item.image.url }}" class="rounded-xl">
    </div>

    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">{{ item.name }}</h1>
        <p class="text-gray-500"><strong>Price: </strong>{{ item.price }}</p>
        <p class="text-gray-500"><strong>Seller: </strong>{{ item.created_by.username }}</p>
    
        {% if item.description %}
            <p class="text-gray-700">
                <strong class="text-gray-500">Description:</strong><br>
                {{ item.description }}
            </p>
        {% endif %}

        {% if request.user == item.created_by %}
            <div class="mt-6 p-6 bg-white rounded-xl">
                <p>This is your item!</p>

                <a href="#" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl">Edit</a>
                <a href="#" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">Delete</a>
            </div>
        {% else %}  
            <a href="#" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Contact seller</a>
        {% endif %}
    </div>
</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <div class="grid grid-cols-3 gap-3">
        {% for item in related_items %}
            <div>
                <a href="#">
                    <div>
                        <img src="{{ item.image.url }}" class="rounded-t-xl">
                    </div>

                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-2xl">{{ item.name }}</h2>
                        <p class="text-gray-500">Price: {{ item.price }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>



<!-- Subscriber Section Start -->
<section id="subscriber">
  <div class="container">
      <div class="section-header">
          <h3>Get Latest Food Info</h3>
      </div>

      <div class="row">
          <div class="col-12">
              <form class="form-inline">
                  <div class="form-group">
                      <input type="email" class="form-control" placeholder="Enter Your Email">
                  </div>
                  <button type="submit" class="btn">Submit</button>
              </form>
          </div>
      </div>
  </div>
</section>
<!-- Subscriber Section end -->

<!-- Footer Start -->
<footer id="footer">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <div class="copyright">
    <p>&copy; Copyright <a href="">Your Site Name</a>. All Rights Reserved</p>
    
    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
    <p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
  </div>
          </div>
          <div class="col-sm-6">
              <ul class="icon">
                  <li><a href="#" class="fa fa-twitter"></a></li>
                  <li><a href="#" class="fa fa-facebook"></a></li>
                  <li><a href="#" class="fa fa-pinterest"></a></li>
                  <li><a href="#" class="fa fa-google-plus"></a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>
<!-- Footer end -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/easing/easing.min.js' %}"></script>
<script src="{% static 'vendor/stickyjs/sticky.js' %}"></script>
<script src="{% static 'vendor/superfish/hoverIntent.js' %}"></script>
<script src="{% static 'vendor/superfish/superfish.min.js' %}"></script>
<script src="{% static 'vendor/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendor/tempusdominus/js/moment.min.js' %}"></script>
<script src="{% static 'vendor/tempusdominus/js/moment-timezone.min.js' %}"></script>
<script src="{% static 'vendor/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

<!-- Main Javascript File -->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>